################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AoC2025/AoC2025/bin
/AoC2025/.vs/AoC2025
/AoC2025/AoC2025/obj
*.txt
