################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AoC2025/AoC2025/bin
/AoC2025/.vs/AoC2025
/AoC2025/AoC2025/obj
*.txt
/AoC2015/bin
/.vs/AoC
/AoC2015/obj
/AoC2025/bin/Debug/net9.0
/AoC2025/obj
/AoC2021/bin/Debug/net9.0
/AoC2021/obj
